<tabset justified="true">
  <tab>
    <tab-heading>
      <span>All Requests <span class="badge">{{ requests.length }}</span></span>
    </tab-heading>

    <div class="input-group">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search..." ng-model="allSearch">
    </div>

    <request request="request" ng-repeat="request in requests | filter:allSearch | orderBy:predicate"></request>
    <div class="no-results" ng-show="(requests | filter:allSearch).length === 0">
      <span>No results found.</span>
    </div>
  </tab>

  <tab heading="Movies">
    <tab-heading>
      <span>All Requests <span class="badge">{{ typeCount('movie') }}</span></span>
    </tab-heading>

    <div class="input-group">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search..." ng-model="movieSearch">
    </div>

    <request request="request" ng-repeat="request in requests | filter:{medium: 'movie'} | filter:movieSearch | orderBy:predicate"></request>
    <div class="no-results" ng-show="(requests | filter:{medium: 'movie'} |
      filter:movieSearch).length === 0">
      <span>No results found.</span>
    </div>
  </tab>

  <tab heading="Music">
    <tab-heading>
      <span>All Requests <span class="badge">{{ typeCount('music') }}</span></span>
    </tab-heading>

    <div class="input-group">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search..." ng-model="musicSearch">
    </div>

    <request request="request" ng-repeat="request in requests | filter:{medium: 'music'} | filter:musicSearch | orderBy:predicate"></request>
    <div class="no-results" ng-show="(requests | filter:{medium: 'music'} |
      filter:musicSearch).length === 0">
      <span>No results found.</span>
    </div>
  </tab>

  <tab heading="TV Shows">
    <tab-heading>
      <span>TV Shows <span class="badge">{{ typeCount('tv-show') }}</span></span>
    </tab-heading>

    <div class="input-group">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search..." ng-model="tvShowSearch">
    </div>

    <request request="request" ng-repeat="request in requests | filter:{medium: 'tv-show'} | filter:tvShowSearch | orderBy:predicate"></request>
    <div class="no-results" ng-show="(requests | filter:{medium: 'tv-show'} |
      filter:tvShowSearch).length === 0">
      <span>No results found.</span>
    </div>
  </tab>
</tabset>

<div class="row">
  <div class="col-md-12 center">
    <a href="/r/new" class="btn btn-primary">New Request</a>
  </div>
</div>
