<tabset justified="true">
  <tab select="selectTab('none')">
    <tab-heading>
      <span>All Requests</span>
      <span class="badge">{{ requests.length }}</span>
    </tab-heading>

    <div class="input-group">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search..." ng-model="allSearch">
    </div>

    <request request="request" ng-repeat="request in requests | filter:allSearch | orderBy:predicate"></request>
    <div class="no-results" ng-show="(requests | filter:allSearch).length === 0">
      <span>No results found.</span>
    </div>
  </tab>

  <tab heading="Movies" select="selectTab('Movie')">
    <tab-heading>
      <span>Movies</span>
      <span class="badge">{{ typeCount('movie') }}</span>
    </tab-heading>

    <div class="input-group">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search..." ng-model="movieSearch">
    </div>

    <request request="request" ng-repeat="request in requests | filter:{medium: 'movie'} | filter:movieSearch | orderBy:predicate"></request>
    <div class="no-results" ng-show="(requests | filter:{medium: 'movie'} |
      filter:movieSearch).length === 0">
      <span>No results found.</span>
    </div>
  </tab>

  <tab heading="Music" select="selectTab('Music')">
    <tab-heading>
      <span>Music</span>
      <span class="badge">{{ typeCount('music') }}</span>
    </tab-heading>

    <div class="input-group">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search..." ng-model="musicSearch">
    </div>

    <request request="request" ng-repeat="request in requests | filter:{medium: 'music'} | filter:musicSearch | orderBy:predicate"></request>
    <div class="no-results" ng-show="(requests | filter:{medium: 'music'} |
      filter:musicSearch).length === 0">
      <span>No results found.</span>
    </div>
  </tab>

  <tab heading="TV Shows" select="selectTab('TV Show')">
    <tab-heading>
      <span>TV Shows</span>
      <span class="badge">{{ typeCount('tv-show') }}</span>
    </tab-heading>

    <div class="input-group">
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search..." ng-model="tvShowSearch">
    </div>

    <request request="request" ng-repeat="request in requests | filter:{medium: 'tv-show'} | filter:tvShowSearch | orderBy:predicate"></request>
    <div class="no-results" ng-show="(requests | filter:{medium: 'tv-show'} |
      filter:tvShowSearch).length === 0">
      <span>No results found.</span>
    </div>
  </tab>
</tabset>

<div class="row">
  <div class="col-md-12 center">
    <a ng-href="{{ newRequestLink() }}" class="btn btn-primary">{{ newRequestText() }}</a>
  </div>
</div>
