<h1>New Request</h1>
<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<label for="medium">Medium</label>
			<select class="form-control" ng-model="medium" ng-change="changeMedium()">
				<option value="movie">Movie</option>
				<option value="music">Music</option>
				<option value="tv-show">TV Show</option>
			</select>
		</div>
	</div>

	<div class="col-md-9">
		<div class="form-group">
			<label for="name">Name</label>
			<input class="form-control" placeholder="Search terms..." ng-change="search()" ng-model="query" ng-model-options="{debounce: 1000}">
		</div>
	</div>
</div>

<div ng-show="hasSelection()" class="row">
	<div class="col-md-12">
		<label>Selection</label>
		<suggestion suggestion="selection"></suggestion>
	</div>

	<button class="btn btn-primary" ng-disabled="!hasSelection()" ng-click="createRequest()">Submit Request</button>
	<button class="btn btn-default" ng-click="clearSelection()">Clear
		Selection</button>
</div>

<div ng-show="searching('movie')">
	<label>Suggestions</label>
	<movie movie="suggestion" ng-repeat="suggestion in suggestions" ng-click="select(suggestion)"></movie>
</div>

<div ng-show="searching('music')">
	<label>Suggestions</label>
	<music music="suggestion" ng-repeat="suggestion in suggestions" ng-click="select(suggestion)"></music>
</div>

<div ng-show="searching('tv-show')">
	<label>Suggestions</label>
	<tv-show tv-show="suggestion" ng-repeat="suggestion in suggestions" ng-click="select(suggestion)"></tv-show>
</div>

<div class="row">
	<div class="col-md-12 center">
		<div class="form-group">
			<button class="btn btn-primary" ng-disabled="!hasSelection()" ng-click="createRequest()">Submit Request</button>
			<a class="btn btn-default" href="/r">Cancel</a>
		</div>
	</div>
</div>
