!!! 5
%html
  %head
    %title WouldYouKindly
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body(ng-app="kindly")
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand(href="/") WouldYouKindly

        .collapse.navbar-collapse
          %ul.nav.navbar-nav(ng-controller="header")
            %li(ng-class="{active: isActive('')}")
              %a(href="/") Home
            %li(ng-class="{active: isActive('r')}")
              %a(href="/r") Requests
            %li(ng-class="{active: isActive('admin')}")
              %a(href="/admin") Admin

    .container
      = yield
